<div class="main users-new">
    <div class="container">
        <div class="form-heading">新規ユーザー登録</div>
        <div class="form users-form">
            <div class="form-body">

                <% @user.errors.full_messages.each do |message| %>
                    <div class="form-error">
                        <%= message %>
                    </div>
                <% end %>

                <%= form_with model:@user, url: "/users/create" do |f| %>
                    <p>ユーザー名</p>
                    <%= f.text_field :user_name %>
                    <p>パスワード　<span id="buttonEye" class="fa fa-eye" onclick="pushHideButton()"></p>
                    <%= f.password_field :password,id:"textPassword", oncopy:"return false",  onpaste:"return false" %>   
                    <p>パスワードは8文字以上の半角英数（両方含む）で入力してください。</p>   
                    <li><%= link_to "利用規約", "/agreement", class:"agreement-document" %></li>             
                    <div class="agreement-check">
                        <div class="agreement-checkbox">
                        <%= f.check_box :agreement, {}, "ok", "" %>         
                        </div>
                        <%= f.label :agreement, "私は利用規約に同意しました" %> 
                    </div>
                    <br>
                    <%= f.submit value="新規登録"%>
                    <% end %>

            </div>
        </div>
    </div>
</div>