<!DOCTYPE html>
<html>
  <head>
    <title>Elemental-Lab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>

      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("Elemental-Lab", "/") %>
        <% else %>
          <%= link_to("Elemental-Lab", "/") %>
        <% end %>
      </div>

      <ul class="header-menus">

        <% if @current_user %>
          <li><%= link_to(@current_user.user_name, "/users/#{@current_user.public_uid}") %></li>
          <li><%= link_to("ログアウト", logout_path,{method: "post"}) %></li>
          <li><%= link_to("運営会社", "https://strategy-jp.com/") %></li>
        <% else %>
          <li><%= link_to("運営会社", "https://strategy-jp.com/") %></li>
          <li><%= link_to("新規登録", signup_path) %></li>
          <li><%= link_to("ログイン", login_path) %></li>
        <% end %>
      </ul>

    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>