<!DOCTYPE html>
<html>
  <head>
    <title>Elemental-Lab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    
  </head>

  <body>
    <header>
      <ul class="header-logo">
        <% if @current_user %>
          <li><%= link_to("Elemental-Lab", "/top") %></li>
          </li>               
        <% else %>
          <li><%= link_to("Elemental-Lab", "/") %></li>
        <% end %>
      </ul>

      <ul class="header-menus">
        <% if @current_user %>
          <li>ログイン中ユーザー：<%= @current_user.user_name %></li>
          <li><%= link_to("マイページ", "/users/#{@current_user.public_uid}") %></li>
          <li><%= link_to("ログアウト", logout_path,{method: "post"}) %></li>
          <li>
            <%= link_to "https://strategy-jp.com/", target: :_blank do %>
              <span>運営会社</span><i class="fas fa-external-link-alt"></i>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to "https://strategy-jp.com/", target: :_blank do %>
              <span>運営会社</span><i class="fas fa-external-link-alt"></i>
            <% end %>
          </li>
          <li><%= link_to("新規登録", signup_path) %></li>
          <li><%= link_to("ログイン", login_path) %></li>
        <% end %>
      </ul>
    </header>

    <% if @current_user && request.fullpath.index("/contents/") == 0%>  
      <nav class="side-menu" id="side-menu">
        <ul class="tab-list list-unstyled">
          <li class="tab tab-active">
            AWS基礎
          </li>
          <li class="tab">
            セキュリティコース
          </li>
          <li class="tab">
            非認知教育コース
          </li>          
        </ul>
        <div class="tabbox-contents">
          <div class="tabbox box-show">
            <%= render partial: 'contents/list', locals: { contents: @aws_contents } %>  
            <li><a href="/contents/awswords">【AWSサービス解説】</a></li>
          </div>
          <div class="tabbox">
              <% if @current_user.allowed %>
                <li>近日公開</li>
              <% else %>
                <li>有料会員のみ公開</li>
              <% end %>
          </div>
          <div class="tabbox">
            <% if @current_user.allowed %>
              <li>近日公開</li>
            <% else %>
              <li>有料会員のみ公開</li>
            <% end %>
          </div>             
        </div>
      </nav>  

      <script type="text/javascript">
      $(function(){
        $("#side-menu").resizable({
          maxWidth:400,
        });
      });
      </script>      

    <% end %>

    <div id="pagetop">
    <a href="#">
    <i class="fas fa-chevron-up"></i>
    </a>
    </div>  

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>